/beerV1/nbproject/private/
/beerV1/classes
/beerV1/lib
/fileDownload/nbproject/private/
/fileDownload/classes
/fileDownload/lib
/XMLDOMDemo/nbproject/private/
/XMLDOMDemo/build/
/JDBCDemo/nbproject/private/
/JDBCDemo/build/
/JavaBeanDemo/nbproject/private/
/JavaBeanDemo/build/
/JavaBeanDemo/dist/
/FileUpload/nbproject/private/
/FileUpload/dist/
/FileUpload/build/
/ServletDemo/nbproject/private/
/ServletDemo/build/
/ServletDemo/dist/
/ExpressionLanguageDemo/nbproject/private/
/ExpressionLanguageDemo/dist/
/ExpressionLanguageDemo/build/
/DataSourceDemo/nbproject/private/
/DataSourceDemo/dist/
/DataSourceDemo/build/
/JSPTagDemo/nbproject/private/
/JSPTagDemo/build/
/JSPTagDemo/dist/
/JSTLDemo/nbproject/private/
/JSTLDemo/build/
/JSTLDemo/dist/
/AJAXDemo/nbproject/private/
/AJAXDemo/dist/
/AJAXDemo/build/