/beerV1/nbproject/private/
/beerV1/classes
/beerV1/lib
/fileDownload/nbproject/private/
/fileDownload/classes
/fileDownload/lib
/XMLDOMDemo/nbproject/private/
/XMLDOMDemo/build/
/JDBCDemo/nbproject/private/
/JDBCDemo/build/
/JavaBeanDemo/nbproject/private/
/JavaBeanDemo/build/
/JavaBeanDemo/dist/